.App {
    text-align: center;
    padding: 10px 10px;
    max-width: 1080px;
    width: 100%;
    justify-self: center;
}

.progress-bar-div {
    display: none;
}

.results-div {
    display: none;
}

.custom-progress-bar {
    justify-self: center;
    width: 70%;
}