.weather-results {
    width: 100%;
    margin-top: 20px;
}

.weather-results-table {
    text-align: left;
    width: 100%;
}

.table-status-icon{
    width: 15%;
    min-width: 20px;
    vertical-align: middle;
    margin-right: 10px;
}

.results-buttons {
    display: flex;
}